h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

use {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}

.contanier {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 520px;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}

.menu-right {
  align-items: center;
  width: 333px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.menu-right__link {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}
.menu-right__link:hover, .menu-right__link:focus {
  color: #2196F3;
  transition: 0.2s ease;
}

.menu-right__icon {
  fill: #757575;
  margin-right: 10px;
}
.menu-right__link:hover .menu-right__icon {
  fill: #2196F3;
}

.header {
  border-bottom: 1px solid #bbbbbb;
}
.header__container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 145px;
  height: 31px;
  font-family: getFont("Raleway-font"), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}
.logo__web {
  color: #2196F3;
}

.header-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  width: 281px;
}
.header-list__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  position: relative;
}

.header-list__link {
  position: relative;
  color: #212121;
}
.header-list__link:hover {
  color: #2196F3;
  transition: 0.2s ease;
}
.header-list__link:hover::after {
  content: "";
  width: 100%;
  transition: 0.2s ease;
}
.header-list__link::after {
  content: "";
  display: block;
  background-color: #2196F3;
  width: 0;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: 45px;
}

.section-bth {
  margin: 94px 0px 50px;
}

.list-bth {
  list-style: none;
  display: flex;
  justify-content: center;
}

.list-bth__button {
  padding: 0 25px;
  height: 38px;
  border-radius: 4px;
  background: #F5F4FA;
  border: #F5F4FA;
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  margin: 0px 8px 0px 0px;
  cursor: pointer;
}

.list-bth__button:hover,
.list-bth__button:focus {
  background-color: #2196F3;
  color: #FFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s ease-in;
}

.thumb {
  width: 370px;
  height: 294px;
}

.cards-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 20px 24px 0;
}

.cards-list__parag {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  width: 322px;
  height: 30px;
  color: #757575;
  margin: 0px 24px 20px;
}

.section-cards {
  width: 1170px;
  height: 1290px;
  margin: 0 auto 94px;
  padding: 0;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #FFF;
  list-style: none;
}

.cards-list__item {
  border: 1px solid #FFF;
  position: relative;
  overflow: hidden;
}

.cards-list__item:nth-child(-n+6) {
  margin-bottom: 30px;
}

.box__text {
  color: #FFF;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  margin: 0;
}

.overlay {
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9019607843);
  transform: translatey(-101%);
  position: absolute;
  top: 0;
  transition: transform 1s ease;
  width: 100%;
}

.cards-list__item:hover .overlay {
  transform: translatey(0);
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
  height: 252px;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFF;
  text-decoration: none;
}

.footer-content {
  display: flex;
}

.footer-contact {
  padding-bottom: 60px;
  margin-right: 70px;
}
.footer-contact__parag {
  width: 231px;
  height: 21px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFF;
}

.contact-list {
  list-style: none;
  padding: 0;
}
.contact-list__item {
  width: 231px;
  height: 21px;
}
.contact-list__item:first-child {
  margin: 9px 0px;
}
.contact-list a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #AFB1B8;
}

.footer-links {
  padding: 12px 0 0;
}
.footer-links__title {
  margin-bottom: 20px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.list-links {
  display: flex;
  justify-content: space-between;
}
.list-links__item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-links__item:nth-child(-n+3) {
  margin-right: 10px;
}
.list-links__item:hover, .list-links__item:focus {
  background-color: #2196F3;
  transition: 0.3s ease-in;
}
.list-links__icon {
  width: 20px;
  height: 20px;
}
.list-links__svg {
  width: 20px;
  height: 20px;
  fill: #FFF;
}

.form-list__bth {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding: 0 28px 0 28px;
  animation: subscribebth 1s ease-in 500ms infinite alternate;
}

@keyframes subscribebth {
  0% {
    box-shadow: 1px 3px 18px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 3px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 18px 0px rgba(0, 0, 0, 0.75);
  }
  100% {
    box-shadow: 1px 3px 18px 19px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 3px 18px 19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 18px 19px rgba(0, 0, 0, 0.75);
  }
}
.subscribe {
  padding-top: 12px;
  width: 570px;
  margin-left: 93px;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}
.footer-form__label {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer-form__email {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #757575;
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  color: #FFF;
  padding: 15px 0 15px 16px;
  margin-top: 20px;
}
.footer-form__svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=portfolio.css.map */