h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

use {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}

.contanier {
  width: 1200px;
  margin: 0 auto;
}

.header__menuleft {
  display: flex;
  width: 520px;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}

.header__menuright {
  align-items: center;
  width: 333px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.header-icon {
  fill: #757575;
  margin-right: 10px;
}

.header__contacts__link:hover .header-icon,
.header__contacts__link:focus .header-icon {
  fill: #2196F3;
}

.header__contanier {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__page {
  border-bottom: 1px solid #bbbbbb;
}

.logo {
  width: 145px;
  height: 31px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}

.logo__web {
  color: #2196F3;
}

.header__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  position: relative;
}

.header__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  width: 281px;
}

.header__link {
  position: relative;
  color: #212121;
}

.header__link:hover::after {
  width: 100%;
  transition: 0.2s ease;
}

.header__link:after {
  content: "";
  display: block;
  background-color: #2196F3;
  width: 0;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: 45px;
}

.header__link:hover {
  color: #2196F3;
  transition: 0.2s ease;
}

.header__contacts__link {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

.header__contacts__link:hover,
.header__contacts__link:focus {
  color: #2196F3;
  transition: 0.2s ease;
}

.main__section__bth {
  margin: 94px 0px 50px;
}

.main__list__bth {
  list-style: none;
  display: flex;
  justify-content: center;
}

.main__button__item {
  padding: 0 25px;
  height: 38px;
  border-radius: 4px;
  background: #F5F4FA;
  border: #F5F5F5;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  margin: 0px 8px 0px 0px;
  cursor: pointer;
}

.main__button__item:hover,
.main__button__item:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s ease-in;
}

.thumb {
  width: 370px;
  height: 294px;
}

.main__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 20px 24px 0;
}

.main__parag {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  width: 322px;
  height: 30px;
  color: #757575;
  margin: 0px 24px 20px;
}

.section__cards {
  width: 1170px;
  height: 1290px;
  margin: 0 auto 94px;
  padding: 0;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #FFFFFF;
  list-style: none;
}

.cards__item {
  border: 1px solid #EEEEEE;
  position: relative;
  overflow: hidden;
}

.cards__item:nth-child(-n+6) {
  margin-bottom: 30px;
}

.box__text {
  color: #FFF;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  margin: 0;
}

.overlay {
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(-101%);
  position: absolute;
  top: 0;
  transition: transform 1s ease;
  width: 100%;
}

.cards__item:hover .overlay {
  transform: translatey(0);
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
  height: 252px;
}

.footer__content {
  display: flex;
}

.footer__contact {
  padding-bottom: 60px;
  margin-right: 70px;
}

.footer__contact__list {
  list-style: none;
  padding: 0;
}

.footer__contact__list a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__parag {
  width: 231px;
  height: 21px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__contact__item {
  width: 231px;
  height: 21px;
}

.footer__contact__item:first-child {
  margin: 9px 0px;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer__links {
  padding: 12px 0 0;
}

.footer__title {
  margin-bottom: 20px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer__list__links {
  display: flex;
  justify-content: space-between;
}

.footer__links__item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__links__item:nth-child(-n+3) {
  margin-right: 10px;
}

.footer__link__icon {
  width: 20px;
  height: 20px;
}

.footer__links__item:hover,
.footer__links__item:focus {
  background-color: #2196F3;
  transition: 0.3s ease-in;
}

.footer__svg {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer__label {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer__email {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 15px 0 15px 16px;
  margin-top: 20px;
}

.subscribe__bth {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding: 0 28px 0 28px;
  animation: subscribebth 1s ease-in 500ms infinite alternate;
}

@keyframes subscribebth {
  0% {
    box-shadow: 1px 3px 18px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 3px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 18px 0px rgba(0, 0, 0, 0.75);
  }
  100% {
    box-shadow: 1px 3px 18px 19px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 3px 18px 19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 18px 19px rgba(0, 0, 0, 0.75);
  }
}
.footer__form {
  display: flex;
  align-items: flex-end;
}

.subscribe__svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.subscribe__list {
  display: flex;
}

.subscribe {
  padding-top: 12px;
  width: 570px;
  margin-left: 93px;
}/*# sourceMappingURL=portfolio.css.map */