.navigation {
    display: flex;
    width: 520px;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

.menu-right {
    align-items: center;
    width: 333px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.menu-right__link {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;

    &:hover, &:focus{
        color: getColor('hover');
        transition: 0.2s ease;
    }
}

.menu-right__icon {
    fill: getColor('third');
    margin-right: 10px;

    .menu-right__link:hover &{
        fill: getColor('hover');
    }
}

.header{
    border-bottom: 1px solid getColor('header-border');

    &__container{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    width: 145px;
    height: 31px;
    font-family: getFonts('Raleway-font');
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: getColor('primary');
    text-decoration: none;

    &__web{
        color: getColor('hover');
    }
}

.header-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: getColor('primary');
    width: 281px;

    &__item{
        font-weight: 500;
        font-size: 14px;
        line-height: 1, 14;
        letter-spacing: 0.02em;
        position: relative;
    }
}

.header-list__link {
    position: relative;
    color: getColor('primary');

    &:hover{
        color: getColor('hover');
        transition: 0.2s ease;
    }

    &:hover::after{
        content: "";
        width: 100%;
        transition: 0.2s ease;
    }

    &::after{
        content: "";
            display: block;
            background-color: getColor('hover');
            width: 0;
            height: 4px;
            border-radius: 2px;
            position: absolute;
            top: 45px;
    }
}