.header__menuleft {
    display: flex;
    width: 520px;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

.header__menuright {
    align-items: center;
    width: 333px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.header-icon {
    fill: #757575;
    margin-right: 10px;
}

.header__contacts__link:hover .header-icon,
.header__contacts__link:focus .header-icon {
    fill: #2196F3;
}

.header__contanier {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__page{
    border-bottom: 1px solid #bbbbbb;
}

.logo {
    width: 145px;
    height: 31px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration: none;


}

.logo__web {
    color: #2196F3;
}

.header__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    position: relative;
}

.header__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    width: 281px;
}

.header__link {
    position: relative;
    color: #212121;
}

.header__link:hover::after {
    width: 100%;
    transition: 0.2s ease;
}

.header__link:after {
    content: "";
    display: block;
    background-color: #2196F3;
    width: 0;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 45px;
}

.header__link:hover {
    color: #2196F3;
    transition: 0.2s ease;
}



.header__contacts__link {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
}

.header__contacts__link:hover,
.header__contacts__link:focus {
    color: #2196F3;
    transition: 0.2s ease;
}