.navigation {
    @extend %flex;
    width: 520px;
    padding: 24px 0px;
}

.menu-right {
    @extend %flex;
    width: 333px;
    padding: 0;
}

.menu-right__link {
    color: getColor('third');
    @include font(500, 14px, 1.14, 0.02em);

    &:hover, &:focus{
        color: getColor('hover');
        transition: 0.2s ease;
    }
}

.menu-right__icon {
    fill: getColor('third');
    margin-right: 10px;

    .menu-right__link:hover &{
        fill: getColor('hover');
    }
}

.header{
    border-bottom: 1px solid getColor('header-border');

    &__container{
        width: 1200px;
        margin: 0 auto;
        @extend %flex;
    }
}

.logo {
    width: 145px;
    height: 31px;
    font-family: getFonts('Raleway-font');
    @include font(700, 26px, 1.19, 0.03em);
    color: getColor('primary');

    &__web{
        color: getColor('hover');
    }
}

.header-list {
    @extend %flex;
    @include font(500, 14px, 1.14, 0.02em);
    color: getColor('primary');
    width: 281px;

    &__item{
        @include font(500, 14px, 1.14, 0.02em);
        position: relative;
    }
}

.header-list__link {
    position: relative;
    color: getColor('primary');

    &:hover{
        color: getColor('hover');
        transition: 0.2s ease;
    }

    &:hover::after{
        content: "";
        width: 100%;
        transition: 0.2s ease;
    }

    &::after{
        content: "";
            display: block;
            background-color: getColor('hover');
            width: 0;
            height: 4px;
            border-radius: 2px;
            position: absolute;
            top: 45px;
    }
}