.people {
    background-color: #F5F4FA;
    padding: 94px;
}

.people-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin: 0px 0px 50px;
}

.people-cards {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.people-cards:nth-child(-n+3) {
    margin-right: 30px;
}

.people-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.people-photo {
    background: #FFFFFF;
    width: 270px;
    height: 260px;
}

.people-name {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin: 30px 0px 10px;
}

.icons-list {
    display: flex;
    justify-content: space-between;
    width: 206px;
    margin: 16px auto 30px;
    padding: 0px;
}

.features-list-item:nth-child(-n+3) {
    margin: 0 30px 0 0;
}

.features-cart {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    padding: 25px 0;
    margin-bottom: 30px;
}

.features-cart-icon {
    display: block;
    margin: 0 auto;
}


.people-icons {
    fill: #AFB1B8;
}

.icon-list-item:hover .people-icons {
    fill: #FFFFFF;
    transition: 0.3s ease;
}

.icon-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}

.icon-list-item:hover,
.icon-list-item:focus {
    border-radius: 50%;
    background-color: #2196F3;
    transition: background-color 0.2s ease-in;
    box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, 0.56);
    transition: box-shadow 0.2s ease-in;

}

.people-work {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
}