.thumb {
    width: 370px;
    height: 294px;
}

.cards-list__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin: 20px 24px 0;
}

.cards-list__parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    width: 322px;
    height: 30px;
    color: #757575;
    margin: 0px 24px 20px;
}

.section-cards {
    width: 1170px;
    height: 1290px;
    margin: 0 auto 94px;
    padding: 0;
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #FFFFFF;
    list-style: none;
}

.cards-list__item {
    border: 1px solid #EEEEEE;
    position: relative;
    overflow: hidden;
}

.cards-list__item:nth-child(-n+6) {
    margin-bottom: 30px;
}

.box__text {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    margin: 0;
}

.overlay {
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.90);
    transform: translatey(-101%);
    position: absolute;
    top: 0;
    transition: transform 1s ease;
    width: 100%;
}

.cards-list__item:hover .overlay {
    transform: translatey(0);
}